@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(espaco.jpg);
    height: 96vh;
    background-size: cover;
    position: relative;
}

#astronauta{
    background-image: url(astronauta.png);
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}